$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$blue: #2B4E72;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #CF4444;
$orange: #f6993f;
$yellow: #EBBB54;
$green: #94BA65;
$teal: #4dc0b5;
$cyan: #2790B0;

$primary: $blue;
$secondary: $gray-600;
$success: $green;
$info: #2B4E72;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: $gray-800;

$body-bg: $black;
$font-family-sans-serif: "Open Sans", sans-serif;
$headings-font-family: "Roboto", sans-serif;
$headings-font-weight: 500;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$card-border-radius: 0;
$card-border-width: 0;
$card-cap-bg: $white;
