
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/dist/bootstrap-vue.css';

body {
    background: #212529 url("../img/background.jpg") no-repeat fixed center top;
}

.container-background {
    background-color: $gray-200;
    border: 7px solid $gray-900;
}

.card-header-special {
    background-color: $gray-900;
    color: $white;
    padding: $card-spacer-y $card-spacer-x;
    margin-bottom: 0; // Removes the default margin-bottom of <hN>
    border-bottom: $card-border-width solid $card-border-color;
}

.card-header {
    border-bottom: 1px solid $gray-200;
}

.card-footer {
    border-top: 1px solid $gray-200;
}

$darken: 15%;

$faction-horde: darken(#E60D12, $darken);
$faction-alliance: darken(#4A54E8, $darken);

$class-death-knight-color: darken(#C41F3B,$darken);
$class-druid-color: darken(#FF7D0A,$darken);
$class-hunter-color: darken(#ABD473,$darken);
$class-mage-color: darken(#69CCF0,$darken);
$class-monk-color: darken(#00FF96,$darken);
$class-paladin-color: darken(#F58CBA,$darken);
$class-priest-color: darken(#FFFFFF, $darken + 15);
$class-rogue-color: darken(#FFF569, $darken + 15);
$class-shaman-color: darken(#0070DE,$darken);
$class-warlock-color: darken(#9482C9,$darken);
$class-warrior-color: darken(#C79C6E,$darken);
$class-demon-hunter-color: darken(#4DD827,$darken);

.wow-color {

    &.faction-0, &.horde {
        color: $faction-horde;
    }
    &.faction-1, &.alliance {
        color: $faction-alliance;
    }

    &.class-1, &.warrior {
        color: $class-warrior-color;
    }
    &.class-2, &.paladin {
        color: $class-paladin-color;
    }
    &.class-3, &.hunter {
        color: $class-hunter-color;
    }
    &.class-4, &.rogue {
        color: $class-rogue-color;
    }
    &.class-5, &.priest {
        color: $class-priest-color;
    }
    &.class-6, &.death-knight {
        color: $class-death-knight-color;
    }
    &.class-7, &.shaman {
        color: $class-shaman-color;
    }
    &.class-8, &.mage {
        color: $class-mage-color;
    }
    &.class-9, &.warlock {
        color: $class-warlock-color;
    }
    &.class-10, &.monk {
        color: $class-monk-color;
    }
    &.class-11, &.druid {
        color: $class-druid-color;
    }
    &.class-12, &.demon-hunter {
        color: $class-demon-hunter-color;
    }

}
