<template>
    <div>
        <h1>Hakemukset</h1>

        <div v-show="loading" class="text-center">
            <img class="m-4" src="images/spinner.svg" alt="Loading.."/>
        </div>

        <div v-show="error" class="alert alert-danger">
            Virhe ladattaessa hakemuksia: {{ errorMessage }}
        </div>

        <div v-show="!loading && !error">

            <div v-show="applications.length < 1" class="alert alert-info">
                Ei hakemuksia
            </div>

            <div class="table-responsive">
                <table v-show="applications.length > 0" class="table table-striped">
                    <thead>
                    <tr>
                        <th>Hahmo</th>
                        <th>Tila</th>
                        <th>Tallennettu</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="application in applications">
                        <td>
                            <div class="list-group" style="min-width: 350px;">
                                <router-link class="list-group-item list-group-item-action"
                                             :to="{ name: 'applications.show', params: { id: application.id } }">
                                    <img :src="application.user.character.avatar" :alt="application.user.character.name"
                                         class="mr-3 float-left"/>
                                    <h4 class="mt-2 wow-color" :class="'class-' + application.user.character.class">
                                        {{ application.user.character.name }}
                                        <small class="text-muted">{{ application.user.character.realm }}</small>
                                    </h4>
                                    <p>
                                        <b>{{ application.user.character.level }}</b>
                                        {{ application.user.character.spec }} {{ application.user.character.className }}
                                    </p>
                                </router-link>
                            </div>
                        </td>
                        <td>
                            <span v-if="application.status === 'OPEN'" class="badge badge-info">Avoinna</span>
                            <span v-if="application.status === 'REJECTED'" class="badge badge-danger">Hylätty</span>
                            <span v-if="application.status === 'ACCEPTED'" class="badge badge-success">Hyväksytty</span>
                        </td>
                        <td>
                            <abbr :title="application.created_at.format('LLL')">{{ application.created_at.fromNow()
                                }}</abbr>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                loading: true,
                error: false,
                errorMessage: 'Tuntematon palvelinvirhe',
                applications: [],
            };
        },
        mounted() {
            this.loading = true;
            this.error = false;

            let that = this;
            window.axios.get('/api/applications')
                .then(response => {
                    that.applications = response.data.data;

                    for (let i = 0; i < that.applications.length; i++) {
                        that.applications[i].created_at = moment(that.applications[i].created_at);
                        that.applications[i].updated_at = moment(that.applications[i].updated_at);
                    }

                    that.loading = false;
                })
                .catch(function (error) {
                    if (error.response) {
                        switch (error.response.status) {
                            case 401:
                                that.errorMessage = 'Tämä vaatii kirjautumisen';
                                break;
                            case 429:
                                that.errorMessage = 'Liikaa kyselyjä lyhyessä ajassa';
                                break;
                            case 500:
                                that.errorMessage = 'Palvelinvirhe';
                                break;
                            default:
                                that.errorMessage = error.response.data.message || error.message;
                        }
                    }

                    that.loading = false;
                    that.error = true;
                });
        }
    }
</script>

<style scoped>

</style>
