<template>
    <div>

        <div v-if="$root.$data.loggedIn && $root.$data.user.application !== null" class="card m-5">
            <h2 class="h4 card-header-special">
                Hakemuksesi tila
            </h2>

            <div v-if="$root.$data.user.application.status === 'OPEN'" class="card-body">
                <h1>Hakemuksesi on käsiteltävänä</h1>

                <p>
                    Normaalisti hakemukset käsitellään viikon sisällä jättämisestä. Mikäli hakemuksesi on unohtunut,
                    voit kysellä
                    edistymisestä alla mainituilta upseereilta.
                </p>
            </div>

            <div v-if="$root.$data.user.application.status === 'REJECTED'" class="card-body">
                <h1 class="text-danger">Hakemuksesi on hylätty</h1>

                <p>
                    Kiitos kiinnostuksestasi kiltaamme kohtaan. Valitettavasti kuitenkin joudumme hylkäämään
                    hakemuksesi.
                    Yleensä hakemuksen hylkääminen johtuu puutteellisesti täytetystä hakemuksesta tai et täytä killan
                    ehtoja.
                </p>

                <p v-if="$root.$data.user.application.message_html != null">
                    Hylkäykseen merkitty syy: <span v-html="$root.$data.user.application.message_html"></span>
                </p>
            </div>

            <div v-if="$root.$data.user.application.status === 'ACCEPTED'" class="card-body">
                <h1 class="text-success">Hakemuksesi on hyväksytty</h1>

                <p>
                    Tervetuloa joukkoomme! Voit kysellä kutsua kiltaan kaikilta raidaajatasoa ylemmiltä pelaajilta.
                </p>

                <p v-if="$root.$data.user.application.message_html != null">
                    Hyväksymiseen merkitty viesti: <span v-html="$root.$data.user.application.message_html"></span>
                </p>
            </div>

        </div>

        <apply-text-edit-modal v-if="$root.$data.loggedIn && $root.$data.user.is_admin"
                          ref="applyTextEditElement"
                          @rulesChange="loadApplyText"></apply-text-edit-modal>

        <div v-show="loadingApplyText" class="text-center">
            <img class="m-4" src="images/spinner.svg" alt="Loading.."/>
        </div>
        <div v-show="errorApplyText">
            <div class="alert alert-danger">
                Virhe: <b>{{ messageApplyText }}</b>
            </div>
        </div>
        <div v-show="!loadingApplyText && !errorApplyText">
            <span v-if="$root.$data.loggedIn && $root.$data.user.is_admin">
                <a href=""
                   class="btn btn-sm btn-primary float-right mr-1"
                   @click.prevent="editApplyText()">Muokkaa</a>
            </span>

            <div v-html="applyPromoText"></div>
        </div>

        <hr class="my-4"/>

        <div class="row mb-4">

            <div class="col-md-8">
                <div v-if="!this.$root.$data.loggedIn" class="alert alert-danger">
                    Kirjaudu sisään nähdäksesi lomakkeen
                </div>

                <div v-if="$root.$data.loggedIn && $root.$data.user.application !== null"
                     class="alert alert-danger">
                    Voit hakea kiltaan vain kerran. Mikäli haluat avata uuden hakemuksen, ota yhteys killan upseeriin.
                </div>

                <div v-show="loading" class="text-center">
                    <img class="m-4" src="images/spinner.svg" alt="Loading.."/>
                </div>

                <div v-show="error" class="alert alert-danger">
                    Tapahtui virhe: {{ errorMessage }}
                </div>

                <b-form v-if="$root.$data.loggedIn && $root.$data.user.application === null && !loading"
                        @submit.prevent="onSubmit" method="post">

                    <div v-if="$root.$data.user" class="form-group">
                        <label class="col-form-label">Hakemasi hahmo</label>
                        <div class="row">
                            <div class="col-8">
                                <div v-if="this.$root.$data.user.character === null" class="alert alert-danger">
                                    Et ole valinnut hahmoa
                                </div>
                                <div v-if="this.$root.$data.user.character !== null" class="list-group">
                                    <div class="list-group-item">
                                        <img :src="$root.$data.user.character.avatar"
                                             :alt="$root.$data.user.character.name"
                                             class="rounded mr-2 float-left"/>
                                        <h4 class="mt-2 wow-color"
                                            :class="'class-' + $root.$data.user.character.class">
                                            {{ $root.$data.user.character.name }}
                                        </h4>
                                        <p>
                                            <b>{{ $root.$data.user.character.level }}</b>
                                            {{ $root.$data.user.character.spec }}
                                            {{ $root.$data.user.character.className }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 d-flex align-items-center">
                                <a href="" class="btn btn-primary btn-block btn-lg" @click.prevent="changeCharacter">
                                    Vaihda hahmoa
                                </a>
                            </div>
                        </div>
                    </div>

                    <b-form-group label="Hakemusteksti"
                                  label-for="application"
                                  :state="!form.errors.has('body')"
                                  :invalid-feedback="form.errors.get('body')">
                        <b-form-textarea id="body"
                                         v-model="form.body"
                                         required
                                         :rows="30"
                                         @input="onChange">
                        </b-form-textarea>

                        <b-form-text id="body">
                            Tähän voi kirjoittaa
                            <a href="https://guides.github.com/features/mastering-markdown/" target="_blank">
                                Githubin makuista Markdownia
                            </a>
                        </b-form-text>
                    </b-form-group>

                    <div class="form-group row">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary btn-lg btn-block"
                                    :class="{ disabled: !is_valid || $root.$data.user.character === null }">
                                Lähetä hakemus
                            </button>
                        </div>
                    </div>

                </b-form>
            </div>

            <div class="col-md-4 order-first order-sm-first order-md-last order-lg-last order-xl-last mb-sm-3">
                <div class="card">

                    <div v-show="loadingApplyText" class="text-center">
                        <img class="m-4" src="images/spinner.svg" alt="Loading.."/>
                    </div>

                    <div v-show="!loadingApplyText && !errorApplyText">
                        <h2 class="h4 card-header-special">
                            Ohje hakemuksen täyttämiseen
                        </h2>

                        <div class="card-body" v-html="applyHelpText"></div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</template>

<script>
    import Form from '../classes/Form';

    export default {
        data() {
            return {
                is_valid: false,
                loading: false,
                error: false,
                errorMessage: 'Tuntematon palvelinvirhe',
                loadingApplyText: false,
                errorApplyText: false,
                messageApplyText: 'Tuntematon palvelinvirhe',
                applyPromoText: '',
                applyHelpText: '',
                form: new Form({
                    body: 'Arvoisa Kiltaherra, arvoisat Upseerit, lähestyn Teitä kirjeistse tarkoituksenani....'
                }),
            };
        },
        mounted() {
            this.loadApplyText();
        },
        methods: {
            onSubmit() {
                let that = this;
                if (!this.is_valid || this.$root.$data.user.character === null) {
                    return false;
                }

                this.loading = true;
                this.error = false;

                this.form.post('/api/applications')
                    .then(response => {
                        window.scrollTo(0, 0);
                        this.loading = false;
                        this.$root.$data.updateUser();
                        this.$ga.event('apply', 'apply');
                    })
                    .catch(function (error) {
                        if (error.response) {
                            switch (error.response.status) {
                                case 401:
                                    that.errorMessage = 'Tämä vaatii kirjautumisen';
                                    break;
                                case 429:
                                    that.errorMessage = 'Liikaa kyselyjä lyhyessä ajassa';
                                    break;
                                case 500:
                                    that.errorMessage = 'Palvelinvirhe';
                                    break;
                                default:
                                    that.errorMessage = error.response.data.message || error.message;
                            }
                        }

                        that.error = true;
                        that.loading = false;
                    });
            },
            changeCharacter() {
                this.$root.$refs.characterSelectorElement.$refs.characterSelectorModal.show();
            },
            onChange(event) {
                this.is_valid = (event.length > 500);
            },
            loadApplyText() {
                this.loadingApplyText = true;
                this.errorApplyText = false;
                let that = this;
                window.axios.get('/api/apply_text')
                    .then((response) => {
                        this.applyPromoText = response.data.data.promoText;
                        this.applyHelpText = response.data.data.helpText;

                        this.loadingApplyText = false;
                    })
                    .catch(function (error) {
                        if (error.response) {
                            switch (error.response.status) {
                                case 401:
                                    that.messageApplyText = 'Tämä vaatii kirjautumisen';
                                    break;
                                case 429:
                                    that.messageApplyText = 'Liikaa kyselyjä lyhyessä ajassa';
                                    break;
                                case 500:
                                    that.messageApplyText = 'Palvelinvirhe';
                                    break;
                                default:
                                    that.messageApplyText = error.response.data.message || error.message;
                            }
                        }

                        this.loadingApplyText = false;
                        this.errorApplyText = true;
                    });
            },
            editApplyText() {
                this.$refs.applyTextEditElement.$refs.applyTextEditModal.show();
            }
        }
    }
</script>

<style scoped>

</style>
