<template>
    <div>

        <div v-show="main.loading" class="text-center">
            <img class="m-4" src="images/spinner.svg" alt="Loading.."/>
        </div>

        <div v-show="main.error" class="alert alert-danger">
            Virhe ladattaessa hakemusta: {{ main.errorMessage }}
        </div>

        <div v-if="!main.loading && !main.error">
            <h1>
                Hakemus numero {{ application.id }}
                <span v-if="application.status === 'OPEN'" class="badge badge-info">Avoinna</span>
                <span v-if="application.status === 'REJECTED'" class="badge badge-danger">Hylätty</span>
                <span v-if="application.status === 'ACCEPTED'" class="badge badge-success">Hyväksytty</span>
            </h1>

            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-body" v-html="application.body_html"></div>
                    </div>
                </div>
                <div class="col-md-4 order-first order-sm-first order-md-last order-lg-last order-xl-last mb-sm-3">
                    <div class="list-group">
                        <div class="list-group-item">
                            <img :src="application.user.character.avatar" :alt="application.user.character.name"
                                 class="rounded mr-2 float-left"/>
                            <h4 class="mt-2 wow-color" :class="'class-' + application.user.character.class">
                                {{ application.user.character.name }}
                                <small class="text-muted">{{ application.user.character.realm }}</small>
                            </h4>
                            <p>
                                <b>{{ application.user.character.level }}</b>
                                {{ application.user.character.spec }} {{ application.user.character.className }}
                            </p>
                        </div>
                    </div>

                    <ul class="list-inline">
                        <li v-if="application.user.character.armory !== null" class="list-inline-item">
                            <a :href="application.user.character.armory" target="_blank">Armory</a>
                        </li>
                        <li v-if="application.user.character.raider_io !== null" class="list-inline-item">
                            <a :href="application.user.character.raider_io" target="_blank">Raider.IO</a>
                        </li>
                        <li v-if="application.user.character.warcraft_logs !== null" class="list-inline-item">
                            <a :href="application.user.character.warcraft_logs" target="_blank">Warcraft Logs</a>
                        </li>
                    </ul>

                    <div v-if="$root.$data.user.is_admin">
                        <hr>

                        <div v-show="resolve_form.loading" class="text-center">
                            <img class="m-4" src="images/spinner.svg" alt="Loading.."/>
                        </div>

                        <div v-show="resolve_form.error" class="alert alert-danger">
                            Virhe päivitettäessä hakemuksen tilaa: {{ resolve_form.errorMessage }}
                        </div>

                        <form class="" v-if="!resolve_form.loading && !resolve_form.error">
                            <div class="form-group">
                                <label for="message">Viesti hakijalle</label>
                                <textarea name="message" id="message" v-model="message" class="form-control"
                                          rows="6"></textarea>
                            </div>
                            <div class="form-group">
                                <a @click.prevent="resolve('ACCEPTED')" href=""
                                   :class="{ disabled: !is_dirty && application.status === 'ACCEPTED' }"
                                   class="btn btn-block btn-lg btn-success">Hyväksy</a><br/>
                                <a @click.prevent="resolve('REJECTED')" href=""
                                   :class="{ disabled: !is_dirty && application.status === 'REJECTED' }"
                                   class="btn btn-block btn-lg btn-danger">Hylkää</a>
                            </div>
                        </form>
                    </div>

                    <div v-if="!$root.$data.user.is_admin">
                        <hr>

                        <div class="form-group">
                            <label for="message">Viesti hakijalle</label>
                            <textarea name="fakemessage" id="fakemessage" v-model="message" class="form-control"
                                      rows="6" disabled="disabled"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <hr/>

            <h2>Kommentit</h2>

            <div v-show="comment_form.loading" class="text-center">
                <img class="m-4" src="images/spinner.svg" alt="Loading.."/>
            </div>

            <div v-show="comment_form.error" class="alert alert-danger">
                Virhe tallennettaessa kommenttia: {{ comment_form.errorMessage }}
            </div>

            <div v-show="application.comments.length < 1" class="alert alert-info">
                Ei kommentteja
            </div>

            <div v-for="comment in application.comments" class="card my-3">
                <div class="card-header">
                    <img :src="comment.user.character.avatar" :alt="comment.user.character.name"
                         class="rounded mr-2 float-left" style="max-width: 50px;"/>
                    <h4 class="wow-color mb-1" :class="'class-' + comment.user.character.class">
                        {{ comment.user.character.name }}
                    </h4>
                    <abbr :title="comment.created_at.format('LLL')">{{ comment.created_at.fromNow() }}</abbr>
                </div>

                <div class="card-body">
                    <p v-html="comment.body_html"></p>
                </div>
            </div>

            <hr/>

            <form action="" @submit.prevent="submitComment">

                <div class="form-group">
                    <label for="comment">Kommentti</label>
                    <textarea name="comment" id="comment" v-model="comment" class="form-control" rows="6"></textarea>
                    <b-form-text id="body">
                        Tähän voi kirjoittaa
                        <a href="https://guides.github.com/features/mastering-markdown/" target="_blank">
                            Githubin makuista Markdownia
                        </a>
                    </b-form-text>
                </div>

                <div class="form-group row">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-primary btn-lg btn-block">
                            Tallenna kommentti
                        </button>
                    </div>
                </div>

            </form>

        </div>

    </div>
</template>

<script>
    export default {
        data() {
            return {
                main: {
                    loading: true,
                    error: false,
                    errorMessage: 'Tuntematon palvelinvirhe',
                },
                resolve_form: {
                    loading: false,
                    error: false,
                    errorMessage: 'Tuntematon palvelinvirhe',
                },
                comment_form: {
                    loading: false,
                    error: false,
                    errorMessage: 'Tuntematon palvelinvirhe',
                },
                message: '',
                comment: '',
                is_dirty: false,
                application: {}
            };
        },
        watch: {
            '$route'() {
                this.fetchApplication();
            },
            'message'(newValue) {
                this.is_dirty = (newValue !== this.application.message);
            }
        },
        mounted() {
            this.fetchApplication();
        },
        methods: {
            fetchApplication() {
                this.main.loading = true;
                this.main.error = false;
                let that = this;

                window.axios.get('/api/applications/' + this.$route.params.id)
                    .then(response => {
                        this.setFields(response.data.data);
                        this.main.loading = false;
                    })
                    .catch(error => {
                        if (error.response) {
                            switch (error.response.status) {
                                case 401:
                                    that.main.errorMessage = 'Tämä vaatii kirjautumisen';
                                    break;
                                case 429:
                                    that.main.errorMessage = 'Liikaa kyselyjä lyhyessä ajassa';
                                    break;
                                case 500:
                                    that.main.errorMessage = 'Palvelinvirhe';
                                    break;
                                default:
                                    that.main.errorMessage = error.response.data.message || error.message;
                            }
                        }

                        this.main.loading = false;
                        this.main.error = true;
                    });
            },
            resolve(status) {
                this.resolve_form.loading = true;
                this.resolve_form.error = false;
                let that = this;

                window.axios.post('/api/applications/' + this.$route.params.id, {
                    message: this.message,
                    status: status,
                })
                    .then(response => {
                        this.setFields(response.data.data);
                        this.$root.$data.updateUser();
                        this.resolve_form.loading = false;
                    })
                    .catch(error => {
                        if (error.response) {
                            switch (error.response.status) {
                                case 401:
                                    that.resolve_form.errorMessage = 'Tämä vaatii kirjautumisen';
                                    break;
                                case 429:
                                    that.resolve_form.errorMessage = 'Liikaa kyselyjä lyhyessä ajassa';
                                    break;
                                case 500:
                                    that.resolve_form.errorMessage = 'Palvelinvirhe';
                                    break;
                                default:
                                    that.resolve_form.errorMessage = error.response.data.message || error.message;
                            }
                        }

                        this.resolve_form.error = true;
                        this.resolve_form.loading = false;
                    });
            },
            submitComment() {
                this.comment_form.loading = true;
                this.comment_form.error = false;
                let that = this;

                window.axios.post('/api/applications/' + this.$route.params.id + '/comments', {
                    message: this.comment,
                })
                    .then(response => {
                        this.setFields(response.data.data);
                        this.comment_form.loading = false;
                        this.comment = '';
                        this.$ga.event('apply', 'comment');
                    })
                    .catch(error => {
                        if (error.response) {
                            switch (error.response.status) {
                                case 401:
                                    that.comment_form.errorMessage = 'Tämä vaatii kirjautumisen';
                                    break;
                                case 429:
                                    that.comment_form.errorMessage = 'Liikaa kyselyjä lyhyessä ajassa';
                                    break;
                                case 500:
                                    that.comment_form.errorMessage = 'Palvelinvirhe';
                                    break;
                                default:
                                    that.comment_form.errorMessage = error.response.data.message || error.message;
                            }
                        }

                        that.comment_form.error = true;
                        that.comment_form.loading = false;
                    });
            },
            setFields(response) {
                this.application = response;

                for (let i = 0; i < this.application.comments.length; i++) {
                    this.application.comments[i].created_at = moment(this.application.comments[i].created_at);
                }

                this.message = this.application.message_md;
                this.is_dirty = false;
            }
        }
    }
</script>

<style scoped>

</style>
