<template>
    <div class="row">
        <div class="col-md-8">
            <blog-post-edit-modal v-if="$root.$data.loggedIn && $root.$data.user.is_admin"
                                  ref="blogPostEditElement"
                                  @blogPostsChange="reloadPosts"></blog-post-edit-modal>

            <recruitment-status-edit-modal v-if="$root.$data.loggedIn && $root.$data.user.is_admin"
                                           ref="recruitmentStatusEditElement"
                                           @recruitmentStatusChange="loadRecruitmentStatus"></recruitment-status-edit-modal>

            <div v-show="loadingBlogPosts" class="text-center">
                <img class="m-4" src="images/spinner.svg" alt="Loading.."/>
            </div>

            <div v-show="errorBlogPosts" class="alert alert-danger">
                Virhe ladattaessa uutisia: <b>{{ messagePosts }}</b>
            </div>

            <div v-show="!loadingBlogPosts && !errorBlogPosts">
                <div v-if="posts.length === 0" class="alert alert-info">
                    Ei uutisia :(
                </div>
                <div v-for="(post, i) in posts" :key="i">
                    <hr v-if="i !== 0" class="m-3"/>
                    <div class="card">
                        <img
                            v-img="{ group: 'home', altAsTitle: true, thumbnails: true, sourceButton: true, src: post.cover }"
                            v-if="post.image !== null" class="card-img-top"
                            :src="post.thumbnail" :alt="post.title" :title="post.title"/>
                        <!--
                        <div class="card-img-overlay">
                            <div class="date">
                                {{ post.created_at.format('MMM') }}<br/>{{ post.created_at.format('D') }}
                            </div>
                        </div>
                        -->

                        <div class="card-body">
                            <h5 class="card-title">{{ post.title }}</h5>
                            <div v-html="post.body_html"></div>
                        </div>

                        <div class="card-footer text-right">
                            <span v-if="$root.$data.loggedIn && $root.$data.user.is_admin">
                                <a href=""
                                   class="btn btn-sm btn-primary float-left mr-1"
                                   @click.prevent="editBlogPost(post.id)">Muokkaa</a>
                                <a href=""
                                   class="btn btn-sm btn-danger float-left"
                                   @click.prevent="deleteBlogPost(post.id)">Poista</a>
                            </span>
                            <span>
                                <span>
                                    <username :user="post.created_by"></username>
                                    <abbr :title="post.created_at.format('LLL')">{{ post.created_at.fromNow() }}</abbr>
                                </span>
                                <span v-if="!post.created_at.isSame(post.updated_at)">
                                    <br class="d-lg-none"/>
                                    - muokannut
                                    <username :user="post.updated_by"></username>
                                    <abbr :title="post.updated_at.format('LLL')">{{ post.updated_at.fromNow() }}</abbr>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>

                <infinite-loading @infinite="infiniteHandler" :identifier="infiniteId">
                    <div slot="spinner" class="text-center">
                        <img class="m-4" src="images/spinner.svg" alt="Loading.."/>
                    </div>
                    <span slot="no-more"></span>
                </infinite-loading>
            </div>
        </div>
        <div class="col-md-4 order-first order-sm-first order-md-last order-lg-last order-xl-last mb-sm-3">
            <div v-if="$root.$data.loggedIn && $root.$data.user.is_admin" class="card mb-3">
                <h2 class="h4 card-header-special">
                    Salanappulat
                </h2>
                <div class="card-body">
                    <p class="text-center">
                        <a href="" class="btn btn-block btn-primary" @click.prevent="newBlogPost">Uusi uutinen</a><br/>
                        <a href="" class="btn btn-block btn-primary" @click.prevent="editRecruitmentStatus">
                            Muuta rekryviestiä
                        </a>
                    </p>
                </div>
            </div>

            <div class="card mb-3">
                <h2 class="h4 card-header-special">
                    Rekry
                </h2>
                <div v-show="loadingRecruitment" class="card-body text-center">
                    <img class="m-4" src="images/spinner.svg" alt="Loading.."/>
                </div>
                <div v-show="errorRecruitment" class="card-body">
                    <div class="alert alert-danger">
                        Virhe: <b>{{ messageRecruitment }}</b>
                    </div>
                </div>
                <div v-show="!loadingRecruitment && !errorRecruitment" class="card-body">
                    <div v-html="recruitment"></div>

                    <p class="text-center">
                        <router-link @click.native="$ga.event('apply', 'cta')" class="btn btn-primary"
                                     :to="{ name: 'apply' }">Hakemuslomakkeelle
                        </router-link>
                    </p>
                </div>
            </div>

            <div class="card">
                <h2 class="h4 card-header-special">
                    Uusimmat logit
                </h2>
                <div v-show="loadingReports" class="card-body text-center">
                    <img class="m-4" src="images/spinner.svg" alt="Loading.."/>
                </div>
                <div v-show="errorReports" class="card-body">
                    <div class="alert alert-danger">
                        Virhe: <b>{{ messageReports }}</b>
                    </div>
                </div>
                <div v-show="!loadingReports && !errorReports">
                    <div v-if="reports.length === 0" class="card-body">
                        Ei olla vissiin raidattu vähään aikaan..
                    </div>
                    <div class="list-group list-group-flush">
                        <a v-for="report in reports"
                           :href="'https://www.warcraftlogs.com/reports/' + report.id"
                           ref="nofollow" target="_blank"
                           class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                                <span>{{ report.title }} ({{ report.zone }})</span>
                                <small><abbr :title="report.start.format('LLL')">
                                    {{ report.start.fromNow() }}
                                </abbr></small>
                            </div>
                            <ul class="mb-0">
                                <li v-if="report.kills.length === 0">
                                    <small class="text-muted">
                                        Kova oli yritys mutta tappoja ei tullut
                                    </small>
                                </li>
                                <li v-for="kill in report.kills">
                                    <small>{{ kill.name }} ({{ kill.difficulty }})</small>
                                </li>
                            </ul>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import InfiniteLoading from 'vue-infinite-loading';

    export default {
        components: {
            InfiniteLoading,
        },
        data() {
            return {
                infiniteId: +new Date(),
                page: 1,
                loadingBlogPosts: true,
                loadingRecruitment: true,
                loadingReports: true,
                posts: [],
                recruitment: '',
                reports: [],
                errorBlogPosts: false,
                errorRecruitment: false,
                errorReports: false,
                messagePosts: 'Tuntematon virhe',
                messageRecruitment: 'Tuntematon virhe',
                messageReports: 'Tuntematon virhe',
            };
        },
        mounted() {
            this.loadPosts();
            this.loadRecruitmentStatus();
            this.loadLatestReports();
        },
        methods: {
            newBlogPost() {
                this.$refs.blogPostEditElement.postId = null;
                this.$refs.blogPostEditElement.$refs.blogPostEditModal.show();
            },
            editBlogPost(id) {
                this.$refs.blogPostEditElement.postId = id;
                this.$refs.blogPostEditElement.$refs.blogPostEditModal.show();
            },
            deleteBlogPost(id) {
                if (!window.confirm('Haluatko ihan varmasti poistaa tämän uutisen?')) {
                    return;
                }


                this.loadingBlogPosts = true;
                this.errorBlogPosts = false;
                let that = this;
                window.axios.delete('/api/posts/' + id)
                    .then((response) => {
                        this.loadingBlogPosts = false;
                        this.reloadPosts();
                    })
                    .catch(function (error) {
                        if (error.response) {
                            switch (error.response.status) {
                                case 401:
                                    that.messagePosts = 'Tämä vaatii kirjautumisen';
                                    break;
                                case 429:
                                    that.messagePosts = 'Liikaa kyselyjä lyhyessä ajassa';
                                    break;
                                case 500:
                                    that.messagePosts = 'Palvelinvirhe';
                                    break;
                                default:
                                    that.messagePosts = error.response.data.message || error.message;
                            }
                        }

                        that.loadingBlogPosts = false;
                        that.errorBlogPosts = true;
                    });
            },
            loadPosts() {
                this.loadingBlogPosts = true;
                this.errorBlogPosts = false;
                let that = this;
                window.axios.get('/api/posts', {
                    params: {
                        page: 0,
                        count: 5
                    }
                })
                    .then((response) => {
                        this.posts = response.data.data;

                        for (let i = 0; i < this.posts.length; i++) {
                            this.posts[i].created_at = moment(this.posts[i].created_at);
                            this.posts[i].updated_at = moment(this.posts[i].updated_at);
                        }

                        this.loadingBlogPosts = false;
                    })
                    .catch(function (error) {
                        if (error.response) {
                            switch (error.response.status) {
                                case 401:
                                    that.messagePosts = 'Tämä vaatii kirjautumisen';
                                    break;
                                case 429:
                                    that.messagePosts = 'Liikaa kyselyjä lyhyessä ajassa';
                                    break;
                                case 500:
                                    that.messagePosts = 'Palvelinvirhe';
                                    break;
                                default:
                                    that.messagePosts = error.response.data.message || error.message;
                            }
                        }

                        that.loadingBlogPosts = false;
                        that.errorBlogPosts = true;
                    });
            },
            infiniteHandler($state) {
                window.axios.get('/api/posts', {
                    params: {
                        page: this.page,
                        count: 5
                    }
                })
                    .then((response) => {
                        if (response.data.data.length > 0) {
                            let posts = response.data.data;

                            for (let i = 0; i < posts.length; i++) {
                                posts[i].created_at = moment(posts[i].created_at);
                                posts[i].updated_at = moment(posts[i].updated_at);
                                this.posts.push(posts[i]);
                            }

                            this.page++;

                            $state.loaded();
                        }

                        if (response.data.data.length < 5) {
                            $state.complete();
                        }

                    });
            },
            reloadPosts() {
                this.page = 1;
                this.posts = [];
                this.infiniteId += 1;
                this.loadPosts();
            },
            editRecruitmentStatus() {
                this.$refs.recruitmentStatusEditElement.$refs.recruitmentStatusEditModal.show();
            },
            loadRecruitmentStatus() {
                this.loadingRecruitment = true;
                this.errorRecruitment = false;
                let that = this;
                window.axios.get('/api/recruitment_status')
                    .then((response) => {
                        this.recruitment = response.data.data.status;
                        this.loadingRecruitment = false;
                    })
                    .catch(function (error) {
                        if (error.response) {
                            switch (error.response.status) {
                                case 401:
                                    that.messageRecruitment = 'Tämä vaatii kirjautumisen';
                                    break;
                                case 429:
                                    that.messageRecruitment = 'Liikaa kyselyjä lyhyessä ajassa';
                                    break;
                                case 500:
                                    that.messageRecruitment = 'Palvelinvirhe';
                                    break;
                                default:
                                    that.messageRecruitment = error.response.data.message || error.message;
                            }
                        }

                        that.loadingRecruitment = false;
                        that.errorRecruitment = true;
                    });
            },
            loadLatestReports() {
                this.loadingReports = true;
                this.errorReports = false;
                let that = this;
                window.axios.get('/api/reports').then((response) => {
                    this.reports = response.data.data.reports;

                    for (let i = 0; i < this.reports.length; i++) {
                        this.reports[i].start = moment(this.reports[i].start);
                    }

                    this.loadingReports = false;
                })
                    .catch(function (error) {
                        if (error.response) {
                            switch (error.response.status) {
                                case 401:
                                    that.messageReports = 'Tämä vaatii kirjautumisen';
                                    break;
                                case 429:
                                    that.messageReports = 'Liikaa kyselyjä lyhyessä ajassa';
                                    break;
                                case 500:
                                    that.messageReports = 'Palvelinvirhe';
                                    break;
                                default:
                                    that.messageReports = error.response.data.message || error.message;
                            }
                        }

                        that.loadingReports = false;
                        that.errorReports = true;
                    });
            }
        }
    }
</script>

<style scoped lang="scss">
    @import '../../sass/variables';

    .date {
        width: 70px;
        text-align: center;
        padding: 15px;
        color: $white;
        font-weight: bold;
        background: rgba($gray-900, .85);
    }
</style>
