<template>
    <div>
        <div v-show="loading" class="text-center">
            <img class="m-4" src="images/spinner.svg" alt="Loading.."/>
        </div>

        <div v-show="error" class="alert alert-danger">
            Virhe ladattaessa rosteria: {{ errorMessage }}
        </div>

        <div v-if="!loading && !error">

            <h1>Sivulle rekisteröityneet jäsenet</h1>

            <p>
                Niitä jotka eivät ole osanneet / jaksaneet rekisteröityä voi käydä ihmettelemässä
                <a href="http://eu.battle.net/wow/en/guild/darkspear/Arctic_Circle/roster?sort=rank&dir=a"
                   target="_blank">Armoryssä</a>.
            </p>

            <div v-if="users.length < 1" class="alert alert-info">
                Ei jäseniä (?)
            </div>

            <div class="table-responsive">
                <table v-if="users.length > 0" class="table table-striped">
                    <thead>
                    <tr>
                        <th>Hahmo</th>
                        <th>Arvo</th>
                        <th>Rekisteröitynyt</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="user in users">
                        <td>
                            <div class="card">
                                <div v-if="user.character != null" class="card-body">
                                    <img :src="user.character.avatar" :alt="user.character.name"
                                         class="mr-3 float-left" style="margin-top: -0.25rem;"/>
                                    <h4 class="wow-color mt-2" :class="'class-' + user.character.class">
                                        {{ user.character.name }}
                                        <small class="text-muted">{{ user.character.realm }}</small>
                                    </h4>
                                    <p>
                                        <b>{{ user.character.level }}</b>
                                        {{ user.character.spec }} {{ user.character.className }}
                                    </p>
                                </div>
                                <div v-if="user.character == null" class="card-body">
                                    <img src="images/avatar-anon.png" alt="No avatar"
                                         class="rounded mr-2 float-left" style="max-width: 84px;margin-top: -0.25rem;"/>
                                    <h4 class="mt-2">
                                        {{ user.name }}
                                    </h4>
                                </div>
                            </div>
                        </td>
                        <td>
                            {{ user.rank_text }}
                        </td>
                        <td>
                            <abbr :title="user.created_at.format('LLL')">{{ user.created_at.fromNow() }}</abbr>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                loading: true,
                error: false,
                errorMessage: 'Tuntematon palvelinvirhe',
                users: [],
            };
        },
        mounted() {
            this.loading = true;
            this.error = false;
            let that = this;

            window.axios.get('/api/users')
                .then(response => {
                    let users = response.data.data.users;

                    for (let i = 0; i < users.length; i++) {
                        users[i].created_at = moment(users[i].created_at);

                        switch (users[i].rank) {
                            case 0:
                                users[i].rank_text = 'Guildmaster';
                                break;
                            case 1:
                                users[i].rank_text = 'Officer';
                                break;
                            case 2:
                                users[i].rank_text = 'Raidaaja';
                                break;
                            case 3:
                                users[i].rank_text = 'Member';
                                break;
                            case 4:
                                users[i].rank_text = 'Altti';
                                break;
                            case 5:
                                users[i].rank_text = 'Inactive';
                                break;
                            case 6:
                                users[i].rank_text = 'Tervetuloa';
                                break;
                            default:
                                users[i].rank_text = 'Muu';
                                break;
                        }
                    }

                    this.users = users;
                    this.loading = false;
                })
                .catch(error => {
                    if (error.response) {
                        switch (error.response.status) {
                            case 401:
                                that.errorMessage = 'Tämä vaatii kirjautumisen';
                                break;
                            case 429:
                                that.errorMessage = 'Liikaa kyselyjä lyhyessä ajassa';
                                break;
                            case 500:
                                that.errorMessage = 'Palvelinvirhe';
                                break;
                            default:
                                that.errorMessage = error.response.data.message || error.message;
                        }
                    }

                    this.loading = false;
                    this.error = true;
                });
        }
    }
</script>

<style scoped>

</style>
