<template>
    <div>
        <rules-edit-modal v-if="$root.$data.loggedIn && $root.$data.user.is_admin"
                          ref="rulesEditElement"
                          @rulesChange="loadRules"></rules-edit-modal>

        <div v-show="loadingRules" class="text-center">
            <img class="m-4" src="images/spinner.svg" alt="Loading.."/>
        </div>
        <div v-show="errorRules">
            <div class="alert alert-danger">
                Virhe: <b>{{ messageRules }}</b>
            </div>
        </div>
        <div v-show="!loadingRules && !errorRules">
            <span v-if="$root.$data.loggedIn && $root.$data.user.is_admin">
                <a href=""
                   class="btn btn-sm btn-primary float-right mr-1"
                   @click.prevent="editRules()">Muokkaa</a>
            </span>

            <h1>Säännöt</h1>

            <div id="rules-wrapper">
                <div v-html="rules"></div>
            </div>

            <div class="text-right">
                <span>
                    Päivittänyt viimeksi
                    <username :user="updated_by"></username>
                    <abbr :title="updated_at.format('LLL')">{{ updated_at.fromNow() }}</abbr>
                </span>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                loadingRules: true,
                rules: '',
                updated_at: null,
                updated_by: null,
                errorRules: false,
                messageRules: 'Tuntematon virhe',
            };
        },
        mounted() {
            this.loadRules();
        },
        methods: {
            loadRules() {
                this.loadingRules = true;
                this.errorRules = false;
                let that = this;
                window.axios.get('/api/rules')
                    .then((response) => {
                        this.rules = response.data.data.body;
                        this.updated_at = moment(response.data.data.updated_at);
                        this.updated_by = response.data.data.updated_by;

                        this.loadingRules = false;
                    })
                    .catch(function (error) {
                        if (error.response) {
                            switch (error.response.status) {
                                case 401:
                                    that.messageRules = 'Tämä vaatii kirjautumisen';
                                    break;
                                case 429:
                                    that.messageRules = 'Liikaa kyselyjä lyhyessä ajassa';
                                    break;
                                case 500:
                                    that.messageRules = 'Palvelinvirhe';
                                    break;
                                default:
                                    that.messageRules = error.response.data.message || error.message;
                            }
                        }

                        this.loadingRules = false;
                        this.errorRules = true;
                    });
            },
            editRules() {
                this.$refs.rulesEditElement.$refs.rulesEditModal.show();
            }
        }
    }
</script>

<style scoped>
    @media (min-width: 768px) {
        #rules-wrapper {
            min-height: 250px;
        }
    }
</style>