<template>
    <b-modal id="blogPostEditModal" ref="blogPostEditModal" size="lg" @ok.prevent="onSubmit" @shown="onShown"
             :ok-title="'Tallenna'"
             :cancel-title="'Peruuta'">
        <div slot="modal-header">
            <h5 class="modal-title" v-if="postId == null">Uusi uutinen</h5>
            <h5 class="modal-title" v-if="postId != null">Muokkaa uutista</h5>
        </div>

        <div v-show="loading" class="text-center">
            <img class="m-4" src="images/spinner.svg" alt="Loading.."/>
        </div>

        <div v-show="error" class="alert alert-danger">
            Tapahtui virhe: {{ errorMessage }}
        </div>

        <b-form @submit.prevent="onSubmit">

            <b-form-group label="Kuva"
                          label-for="file"
                          :state="!form.errors.has('file')"
                          :invalid-feedback="form.errors.get('file')">
                <b-form-file id="file" v-model="form.file"
                             placeholder="Valitse kuva..."
                             accept="jpeg,jpg,png"
                             required></b-form-file>
                <b-form-text id="file" v-show="postId != null">
                    Jätä tämä tyhjäksi jos et halua muuttaa aiempaa kuvaa
                </b-form-text>
            </b-form-group>

            <b-form-group label="Otsikko"
                          label-for="title"
                          :state="!form.errors.has('title')"
                          :invalid-feedback="form.errors.get('title')">
                <b-form-input id="title"
                              type="text"
                              v-model="form.title"
                              required>
                </b-form-input>
            </b-form-group>

            <b-form-group label="Ilmoitukset"
                          label-for="send_notification"
                          :state="!form.errors.has('send_notification')"
                          :invalid-feedback="form.errors.get('send_notification')">
                <b-form-checkbox id="send_notification"
                                 v-model="form.send_notification">
                    Lähetä Discord ilmoitus
                </b-form-checkbox>
            </b-form-group>

            <b-form-group label="Teksti"
                          label-for="body"
                          :state="!form.errors.has('body')"
                          :invalid-feedback="form.errors.get('body')">
                <b-form-textarea id="body"
                                 v-model="form.body"
                                 required
                                 :rows="5">
                </b-form-textarea>
                <b-form-text id="body">
                    Tähän voi kirjoittaa
                    <a href="https://guides.github.com/features/mastering-markdown/" target="_blank">
                        Githubin makuista Markdownia
                    </a>
                </b-form-text>
            </b-form-group>

        </b-form>
    </b-modal>
</template>

<script>
    import Form from '../classes/Form';

    export default {
        data() {
            return {
                postId: null,
                loading: false,
                error: false,
                errorMessage: 'Tuntematon palvelinvirhe',
                form: new Form({
                    title: '',
                    send_notification: false,
                    body: '',
                    file: null
                }, true),
            }
        },
        methods: {
            onShown() {
                this.loading = false;
                this.error = false;
                this.errorMessage = 'Tuntematon palvelinvirhe';
                this.form = new Form({
                    title: '',
                    send_notification: (this.postId == null),
                    body: '',
                    file: null
                }, true);

                if (this.postId == null) {
                    return;
                }

                this.loading = true;
                this.error = false;
                let that = this;

                window.axios.get('/api/posts/' + this.postId)
                    .then((response) => {
                        that.form = new Form({
                            title: response.data.data.title,
                            send_notification: false,
                            body: response.data.data.body_md,
                            file: null
                        }, true);

                        that.loading = false;
                    })
                    .catch(function (error) {
                        if (error.response) {
                            switch (error.response.status) {
                                case 401:
                                    that.errorMessage = 'Tämä vaatii kirjautumisen';
                                    break;
                                case 429:
                                    that.errorMessage = 'Liikaa kyselyjä lyhyessä ajassa';
                                    break;
                                case 500:
                                    that.errorMessage = 'Palvelinvirhe';
                                    break;
                                default:
                                    that.errorMessage = error.response.data.message || error.message;
                            }
                        }

                        that.error = true;
                        that.loading = false;
                    });
            },
            onSubmit() {
                this.loading = true;
                this.error = false;
                let that = this;

                this.form.post('/api/posts' + (this.postId !== null ? ('/' + this.postId) : ''))
                    .then((response) => {
                        that.loading = false;
                        that.$emit('blogPostsChange');
                        that.$refs.blogPostEditModal.hide();
                    })
                    .catch(function (error) {
                        if (error.response) {
                            switch (error.response.status) {
                                case 401:
                                    that.errorMessage = 'Tämä vaatii kirjautumisen';
                                    break;
                                case 429:
                                    that.errorMessage = 'Liikaa kyselyjä lyhyessä ajassa';
                                    break;
                                case 500:
                                    that.errorMessage = 'Palvelinvirhe';
                                    break;
                                default:
                                    that.errorMessage = error.response.data.message || error.message;
                            }
                        }

                        that.error = true;
                        that.loading = false;
                    });
            }
        }
    }
</script>

<style scoped>

</style>
