<template>
    <b-modal id="characterSelectorModal" ref="characterSelectorModal" size="lg"
             @show="loadCharacters" :hide-footer="true">
        <div slot="modal-header">
            <h5 class="modal-title">Hahmon valinta</h5>
        </div>

        <div>
            <div class="alert alert-info">
                <h4 class="alert-heading">Ohje</h4>
                Tässä valitsemasi hahmo toimii julkisena nimenäsi kun nimesi näkyy esimerkiksi
                kommenteissa tai hakemuksessa. Valitse tässä siis eniten pelaamasi hahmo jotta kaikki
                varmasti tuntevat sinut. <b>Käyttöoikeutesi sivulla määräytyy tämän hahmon mukaan.</b>
            </div>

            <div v-show="loading" class="text-center">
                <img class="m-4" src="images/spinner.svg" alt="Loading.."/>
            </div>

            <div v-show="error" class="alert alert-danger">
                Virhe ladattaessa hahmoja: <b>{{ message }}</b>
            </div>

            <div v-show="!loading && !error">
                <div v-if="realms.length === 0">
                    <div class="alert alert-info">
                        <h4 class="alert-heading">Hahmoja ei löytynyt.</h4>
                        <p class="mb-0">
                            Mikäli kirjauduit juuri ensimmäistä kertaa, voi olla että hahmojen lataus
                            ei vielä ole valmistunut. Lista päivittyy automaattisesti aina kirjautumisen yhteydessä,
                            mutta mikäli tähän ei mitään ilmesty 10 minuutin sisään on joku varmaan hajonnut
                            ja Luxo mielellään kuulisi tästä.
                        </p>
                    </div>
                </div>
                <b-tabs v-if="realms.length > 0" pills card vertical>
                    <b-tab v-for="realm in realms" :key="realm.slug" class="mb-4" :title="realm.name">
                            <div class="list-group">
                                <a href="" v-for="character in realm.characters"
                                   @click.prevent="selectCharacter(character)"
                                   class="list-group-item list-group-item-action"
                                   :class="{ 'active': character.slug === selectedCharacter }">
                                    <img :src="character.avatar" :alt="character.name" class="mr-2 float-left"/>
                                    <h4 class="mt-2 wow-color" :class="'class-' + character.class">
                                        {{ character.name }}
                                        <small v-if="character.guild !== null" class="text-muted">
                                            <{{ character.guild }}>
                                        </small>
                                    </h4>
                                    <p>
                                        <b>{{ character.level }}</b>
                                        {{ character.spec }} {{ character.className }}
                                    </p>
                                </a>
                            </div>
                    </b-tab>
                </b-tabs>
            </div>
        </div>
    </b-modal>
</template>

<script>
    export default {
        data() {
            return {
                loading: true,
                error: false,
                message: 'Tuntematon virhe',
                isReloading: false,
                selectedCharacter: '',
                realms: [],
            };
        },
        mounted() {
            if (!this.$root.$data.loggedIn) {
                return;
            }

            if (this.$root.$data.user.character !== null) {
                this.selectedCharacter = this.$root.$data.user.character.slug;
            }
        },
        methods: {
            loadCharacters() {
                if (!this.isReloading) {
                    this.loading = true;
                }

                this.error = false;

                let that = this;
                window.axios.get('/api/profile/characters')
                    .then((response) => {
                        that.realms = response.data.data;

                        if (that.realms.length === 0) {
                            console.error('retrying query in 2500..');
                            that.isReloading = true;
                            setTimeout(function () {
                                that.loadCharacters();
                            }, 2500);
                        }

                        that.loading = false;
                    })
                    .catch(function (error) {
                        if (error.response) {
                            switch (error.response.status) {
                                case 401:
                                    that.message = 'Tämä vaatii kirjautumisen';
                                    break;
                                case 429:
                                    that.message = 'Liikaa kyselyjä lyhyessä ajassa';
                                    break;
                                case 500:
                                    that.message = 'Palvelinvirhe';
                                    break;
                                default:
                                    that.message = error.response.data.message;
                            }
                        } else {
                            that.message = error.message;
                        }

                        that.loading = false;
                        that.error = true;
                    });
            },
            selectCharacter(character) {
                this.selectedCharacter = character.slug;

                window.axios.post('/api/profile/name', {slug: character.slug})
                    .then((response) => {
                        this.$refs.characterSelectorModal.hide();
                        this.$root.$data.updateUser();
                    });
            }
        }
    }
</script>

<style scoped>

</style>
