<template>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark my-3 rounded-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <router-link element="li" active-class="active" class="nav-item" :to="{ name: 'home' }" exact>
                    <a class="nav-link">Etusivu</a>
                </router-link>
                <router-link element="li" active-class="active" class="nav-item" :to="{ name: 'apply' }">
                    <a class="nav-link">Rekry</a>
                </router-link>
                <router-link element="li" active-class="active" class="nav-item" :to="{ name: 'roster' }">
                    <a class="nav-link">Jäsenet</a>
                </router-link>
                <router-link element="li" active-class="active" class="nav-item" :to="{ name: 'rules' }">
                    <a class="nav-link">Säännöt</a>
                </router-link>
                <router-link v-if="$root.$data.loggedIn && $root.$data.user.is_member"
                             element="li" active-class="active" class="nav-item" :to="{ name: 'applications' }">
                    <a class="nav-link">Hakemukset</a>
                </router-link>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li v-if="$root.$data.loggedIn" class="nav-item">
                    <a href="" class="nav-link" @click.prevent="changeCharacter">{{ $root.$data.user.name }}</a>
                </li>
                <li v-if="$root.$data.loggedIn" class="nav-item">
                    <a class="nav-link" :href="$root.$data.links.logout">Kirjaudu ulos</a>
                </li>
                <li v-if="!$root.$data.loggedIn" class="nav-item">
                    <a class="nav-link" :href="$root.$data.links.login" @click="onLogin">
                        <img src="images/bnet.png" alt=""/>
                        Kirjaudu
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</template>

<script>
    export default {
        mounted() {
            if (this.$root.$data.loggedIn && this.$root.$data.user.character === null) {
                this.changeCharacter();
            }
        },
        methods: {
            changeCharacter() {
                this.$root.$refs.characterSelectorElement.$refs.characterSelectorModal.show();
            },
            onLogin() {
                this.$ga.event('login', 'login');
            }
        }
    }
</script>

<style scoped lang="scss">
    @import '../../sass/variables';

    .navbar {
        border-bottom: 5px solid $gray-900;
    }
</style>
