<template>
    <b-modal id="recruitmentStatusEditModal" ref="recruitmentStatusEditModal" size="lg" @ok.prevent="onSubmit"
             @show="loadData" :ok-title="'Tallenna'" :cancel-title="'Peruuta'">
        <div slot="modal-header">
            <h5 class="modal-title">Muokkaa rekrystatusta</h5>
        </div>

        <div v-show="loading" class="text-center">
            <img class="m-4" src="images/spinner.svg" alt="Loading.."/>
        </div>

        <div v-show="error" class="alert alert-danger">
            Tapahtui virhe: {{ errorMessage }}
        </div>

        <b-form v-show="!loading" @submit.prevent="onSubmit">
            <b-form-group label="Teksti"
                          label-for="body"
                          :state="!form.errors.has('body')"
                          :invalid-feedback="form.errors.get('body')">
                <b-form-textarea id="body"
                                 v-model="form.body"
                                 required
                                 :rows="15">
                </b-form-textarea>

                <b-form-text id="body">
                    Tähän voi kirjoittaa
                    <a href="https://guides.github.com/features/mastering-markdown/" target="_blank">
                        Githubin makuista Markdownia
                    </a>
                </b-form-text>
            </b-form-group>

        </b-form>
    </b-modal>
</template>

<script>
    import Form from '../classes/Form';

    export default {
        data() {
            return {
                loading: false,
                error: false,
                errorMessage: 'Tuntematon palvelinvirhe',
                form: new Form({
                    body: ''
                }),
            }
        },
        methods: {
            loadData() {
                this.loading = true;
                window.axios.get('/api/recruitment_status/raw').then((response) => {
                    this.form.body = response.data.data.status;
                    this.loading = false;
                });
            },
            onSubmit() {
                this.loading = true;
                this.error = false;

                let that = this;
                this.form.post('/api/recruitment_status')
                    .then((response) => {
                        that.loading = false;
                        that.$emit('recruitmentStatusChange');
                        that.$refs.recruitmentStatusEditModal.hide();
                    })
                    .catch(function (error) {
                        if (error.response) {
                            switch (error.response.status) {
                                case 401:
                                    that.errorMessage = 'Tämä vaatii kirjautumisen';
                                    break;
                                case 429:
                                    that.errorMessage = 'Liikaa kyselyjä lyhyessä ajassa';
                                    break;
                                case 500:
                                    that.errorMessage = 'Palvelinvirhe';
                                    break;
                                default:
                                    that.errorMessage = error.response.data.message || error.message;
                            }
                        }

                        that.error = true;
                        that.loading = false;
                    });
            }
        }
    }
</script>

<style scoped>

</style>
