<template>
    <span>
        <abbr v-if="user.character != null" class="wow-color"
              :title="user.character.name + '-' + user.character.realm"
              :class="'class-' + user.character.class">
              {{ user.name }}
        </abbr>
        <span v-else>
            {{ user.name }}
        </span>
    </span>
</template>

<script>
    export default {
        props: ['user']
    }
</script>

<style scoped lang="scss">

</style>
